html, body, #root
  height: 100%

body
  margin: 0
  font-family: 'Sorts Mill Goudy', serif

.main-container
  display: flex
  flex-direction: column
  justify-content: space-between
  height: 100vh

.container
  flex-grow: 1


@import header
@import results
@import item
@import detail
@import login
@import register
@import feedback
@import footer